body {
  margin: 0;
  padding: 0;
}

#main-content {
  margin: 8px;
}

.trans {
  color: white;
  width: 400px;
  height: 400px;
  background-color: red;
  padding: 20px 0px;
  margin: 150px auto;
  text-align: center;
  transition-property: transform;
  transition-duration: 2s;
}

.trans:hover {
  transform: rotateY(180deg);
}
